<footer class="footer navbar-dark bg-dark">
    <div class="allnet">
        <a class="net btn btn-secondary" href="https://www.facebook.com/Henok.wold?epa=SEARCH_BOX" target="blank"><i
                class="fab fa-facebook"></i> </a>

        <a class="net btn btn-secondary" href="https://www.linkedin.com/in/henokgwoldu/" target="blank">
            <i class="fab fa-linkedin"></i>
        </a>
        <a class="net btn btn-secondary" href="mailto:henokuga@gmail.com"><i class="fab fas fa-envelope"></i> </a>
    </div>
    <fa name="cog" animation="spin"></fa>
</footer>