footer {
    position: sticky;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    clear: both;
    overflow: hidden;
}
.allnet {
  align-content: center;
}
a {
  width: 15%;
  margin:10px 15px;
}