<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id="navbarSupportedContent">
  <a class="navbar-brand active" [routerLink]="['/home']">Henok G Woldu PhD</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" [routerLink]="['/resume']">Resume</a>
      <a class="nav-item nav-link" [routerLink]="['/publications']">Publications</a>
      <a class="nav-item nav-link" [routerLink]="['/conference-abstract']">Conference
        Presentations</a>
    </div>
  </div>
</nav>