<div class="alert alert-secondary" role="alert">
  <h3>PUBLICATIONS</h3>
  <h5>Accepted</h5>
  <ul>
    <li>
      Mulugeta Russom, Hager Tesfaselassie, 2 Rozina Goitom, Tadese Ghirmai, Freweini Weldedhawariat, Abiel
      Berhe, Dawit Tesfai, Merhawi Debesai, Tesfit Berhane, and <strong>Henok G. Woldu</strong>. Risk Factors of Gout in
      MDR-TB
      Patients in Eritrea: A Case-Control Study. Tuberculosis Research and Treatment, Volume 2019, 21 May
      2019,Article ID 9429213.
      <a href=" https://doi.org/10.1155/2019/9429213" target="blank"> https://doi.org/10.1155/2019/9429213</a>
    </li>
    <li>
      Sheets LR, <strong>Woldu HG</strong>, Swart R, Simoes E. “Urban Disadvantage, Obesity, and Underweight in 31
      Lower-Income
      Countries”. MedInfo2019. Already Accepted.
    </li>
    <li> Castellanos, M. E.; Kirimunda, S.; Martinez, L.; Quach, T.; <strong>Woldu, H.</strong>; Kakaire, R.; Handel,
      A.; Zalwango,
      S.4; Kiwanuka, N.; Whalen, C. C. Performance of the QuantiFERON®-TB Gold In-Tube assay in tuberculin skin
      test converters: a prospective cohort study. The International Journal of Tuberculosis and Lung Disease, Volume
      22, Number 9, 1 September 2018, pp. 1000-1006(7).
      <a href="https://doi.org/10.5588/ijtld.18.0073" target="blank">https://doi.org/10.5588/ijtld.18.0073</a>
    </li>
    <li><strong>Henok Woldu</strong>, Timothy G. Heckman, Andreas Handel & Ye Shen (2019) Applying functional data
      analysis to assess tele-interpersonal psychotherapy's efficacy to reduce depression, Journal of Applied
      Statistics, 46:2, 203-216, 04 May 2018, DOI: 10.1080/02664763.2018.1470231.
      <a href="https://doi.org/10.1080/02664763.2018.1470231"
        target="blank">https://doi.org/10.1080/02664763.2018.1470231</a>
    </li>
    <li>
      Timothy G Heckman, John C Markowitz, Bernadette D Heckman, <strong>Henok Woldu</strong>, Timothy Anderson, Travis
      I
      Lovejoy, Ye Shen, Mark Sutton, William Yarber, A Randomized Clinical Trial Showing Persisting Reductions in
      Depressive Symptoms in HIV-Infected Rural Adults Following Brief Telephone-Administered Interpersonal
      Psychotherapy, Annals of Behavioral Medicine, Volume 52, Issue 4, April 2018, Pages 299–
      308, https://doi.org/10.1093/abm/kax015.
      <a href="https://doi.org/10.1093/abm/kax015." target="blank">https://doi.org/10.1093/abm/kax015.</a>
    </li>
    <li>
      David M. DeJoy, Todd D. Smith, <strong>Henok Woldu</strong>, Mari-Amanda Dyal, Andrea L. Steege & James M. Boiano
      (2017) Effects of organizational safety practices and perceived safety climate on PPE usage, engineering controls,
      and adverse events involving liquid antineoplastic drugs among nurses, Journal of Occupational and
      Environmental Hygiene, 14:7, 485-493, DOI: 10.1080/15459624.2017.1285496.
      <a href="https://doi.org/10.1080/15459624.2017.1285496"
        target="blank">https://doi.org/10.1080/15459624.2017.1285496</a>
    </li>
  </ul>
</div>

<div class="alert alert-secondary" role="alert">
  <h2>PUBLICATIONS</h2>
  <h5>Under Review</h5>
  <ul>
    <li>
      Raybun Spelts, Matthew McAllister; Jorda Baxley; Deanne Tabb; <strong>Henok G Woldu</strong>; Matthew Bauer,
      Priyan Lad.
      Evaluation of an Animal Bite Protocol in the Emergency Department. Journal of Emergency Medicine. Submitted
      in May 2019.
    </li>
    <li>
      Leonardo Martinez, <strong>Henok Woldu</strong>, Cheng Chen, et al. Transmission Dynamics in Tuberculosis
      Patients with Human Immunodeficiency Virus: A Systematic Review and Meta-Analysis of 32
      Observational Studies. BMJ. Submitted in May 2019.
    </li>
    <li>
      Ahmad. H., Mohit K, T., Fred M., M., <strong>Woldu H.</strong>, Jalaj G., et al. Outcome of Implantable
      Cardioverter
      Defibrillator in Cardiac Sarcoidosis: A Systematic Review and Meta-Analysis. HeartRhythm Journal. Submitted
      in December 2018.
    </li>
    <li>
      <strong>Woldu, H.</strong>, Dobbin,K. Sample Size estimation for evaluating clinical utility:apredictive biomarker
      and binary endpoint. Journal of Computational Statistics and Data Analysis. Submitted January 2019.
    </li>
    <li>
      <strong>Woldu, H.</strong>, Zalwango, S., Martinez, L., Whalen, C., et al. defining an indeterminate tuberculin
      skin test:
      a mixture model analysis of two high-risk populations for Kampala Uganda. American Journal of
      Epidemiology. Submitted in November 2018.
    </li>
    <!-- <li>Sheets LR, <strong>Woldu HG</strong>, Swart R, Simoes E. “Urban Disadvantage, Obesity, and Underweight
          in 31 Lower-Income Countries”. MedInfo2019. November 2018.</li> -->

  </ul>
</div>