<div class="alert alert-secondary" role="alert">
  <h3>PUBLICATIONS</h3>
  <h5>Accepted</h5>
  <ul>
    <li><strong>Woldu, H.</strong>, Ye, S., Heckman, T. and Handel, A. Applying Functional Data Analysis to
      Assess Tele-Interpersonal Psychotherapy’s Efficacy to Reduce Depression. Applied
      Journal of Statistics. May 04, 2018. DOI: 10.1080/02664763.2018.1470231.</li>
    <li>Heckman, T. G., Markowitz, J. C., Heckman, B. D.,<strong> Woldu, H.</strong>, Anderson, T., Lovejoy, T.
      I., et
      al. A Randomized Clinical Trial Showing Persisting Reduction in Depression Symptoms
      in HIV-Infected Rural Adults Following Brief Telephone-Administered Interpersonal
      Psychotherapy. Annals of Behavioral Medicine. 2018 Jan 25.</li>
    <li>Dejoy, D., Smith, T., <strong>Woldu, H.</strong>, Dyla., M.,Steege, A., and Biano, J. Effects of
      Organizational
      Safety Practices and Perceived Safety Climate on PPE Usage, Engineering Controls, and Adverse
      Events involving Liquid Antineoplastic Drugs among Nurses. Journal of occupational and
      environmental hygiene, 14(7), 485-493.</li>
    <li>Maria E, C., Kirimunda, S., Martinez, L., Trang Q., <strong>Woldu, H.</strong>, et al. Performance of
      Quantiferon Gold In-Tube Assay Among Tuberculin Skin Test Converters: A Prospective Cohort Study. The
      International Journal of Tuberculosis and Lung Disease.</li>

  </ul>
</div>