<div class="alert alert-secondary" role="alert">
  <h2>PUBLICATIONS</h2>
  <h5>Under Review</h5>
  <ul>
    <li>
      Raybun Spelts, Matthew McAllister; Jorda Baxley; Deanne Tabb; <strong>Henok G Woldu</strong>; Matthew Bauer,
      Priyan Lad.
      Evaluation of an Animal Bite Protocol in the Emergency Department. Journal of Emergency Medicine. Submitted
      in May 2019.
    </li>
    <li>
      Leonardo Martinez, <strong>Henok Woldu</strong>, Cheng Chen, et al. Transmission Dynamics in Tuberculosis
      Patients with Human Immunodeficiency Virus: A Systematic Review and Meta-Analysis of 32
      Observational Studies. BMJ. Submitted in May 2019.
    </li>
    <li>
      Ahmad. H., Mohit K, T., Fred M., M., <strong>Woldu H.</strong>, Jalaj G., et al. Outcome of Implantable
      Cardioverter
      Defibrillator in Cardiac Sarcoidosis: A Systematic Review and Meta-Analysis. HeartRhythm Journal. Submitted
      in December 2018.
    </li>
    <li>
      <strong>Woldu, H.</strong>, Dobbin,K. Sample Size estimation for evaluating clinical utility:apredictive biomarker
      and binary endpoint. Journal of Computational Statistics and Data Analysis. Submitted January 2019.
    </li>
    <li>
      <strong>Woldu, H.</strong>, Zalwango, S., Martinez, L., Whalen, C., et al. defining an indeterminate tuberculin
      skin test:
      a mixture model analysis of two high-risk populations for Kampala Uganda. American Journal of
      Epidemiology. Submitted in November 2018.
    </li>
    <!-- <li>Sheets LR, <strong>Woldu HG</strong>, Swart R, Simoes E. “Urban Disadvantage, Obesity, and Underweight
      in 31 Lower-Income Countries”. MedInfo2019. November 2018.</li> -->

  </ul>
</div>