<div class="alert alert-secondary" role="alert">
  <h2>PUBLICATIONS</h2>
  <h5>Under Review</h5>
  <ul>
    <li>Leonardo, M., <strong>Woldu, H.</strong>, Cheng, C., et al. Transmission Dynamics in Tuberculosis
      Patients
      with Human Immunodeficiency Virus: A Systematic Review and Meta-Analysis of 32
      Observational Studies. The Lancet Infection Disease. January 2019.</li>
    <li><strong>Woldu, H.</strong> and Dobbin, K. Sample Size estimation for evaluating clinical utility: a
      predictive biomarker and binary endpoint. Journal of Biopharmaceutical Statistics. January
      2019.</li>
    <li><strong>Woldu, H.</strong>, Zalwango, S., Martinez, L., Whalen, C., et al. Defining an indeterminate
      tuberculin skin test: a mixture model analysis of two high-risk populations for Kampala
      Uganda. International Journal of Epidemiology. November 2018.</li>
    <li>Ahmad. H., Mohit K, T., Fred M., M., <strong>Woldu, H.</strong>, Jalaj G., et al.Outcome of Implantable
      Cardioverter Defibrillator in Cardiac Sarcoidosis: A Systematic Review and Meta-Analysis.
      HeartRhythm Journal. December 2018.</li>
    <li>Russon. M., Tesfaselasie. H., Goitom., R., Ghirmai. T., <strong>Woldu, H.</strong>, et
      al. Risk Factors of Gout in MDR-TB Patients in Eritrea: a case-control study. Tuberculosis Research and
      Treatment. February 2019.</li>
    <li>Sheets LR, <strong>Woldu HG</strong>, Swart R, Simoes E. “Urban Disadvantage, Obesity, and Underweight
      in 31 Lower-Income Countries”. MedInfo2019. November 2018.</li>

  </ul>
</div>