<div class="alert alert-secondary" role="alert">
  <h3>CONFERENCE/ABSTRACT</h3>
  <ul>
    <li><strong>Woldu H.</strong>, Maria E. C., Norma P., Predictive Modeling for Assessing Bio-efficacy of Long Lasting
      Insecticide
      Nets in Gautemala Using Segmented Regression. American Society of Tropical Medicine and Hygiene (ASTMH),
      Oct 28- Nov 1, 2018, New Orleans, LA</li>
    <li>Sheets LR,<strong>Woldu HG</strong>, Swart R, Simoes E. Urban Disadvantage, Obesity, and Underweight in 31
      Lower-Income
      Countries. Midwest Universities for Global Health 5.0, St. Louis, Missouri, December 2018.</li>
    <li>Heckman, T.G., Heckman, B.D., Markowitz, J.C., <strong>Woldu H.</strong>, Anderson, T., Shen, Y., Lovejoy, T.I.,
      Sutton, M.,
      & Yarber, W. Randomized clinical trial of telephone-administered Interpersonal Psychotherapy for depressed
      HIV-infected rural persons: Long-term intervention outcomes. International Congress of Behavioral Medicne,
      Santiago, Chile. November 14 – 17, 2018</li>
    <li>Tyler Casey, <strong>H. G. Woldu, PhD</strong> and W. R. Folk PhD. Osteoarthiritis Management: Patient Age Range
      of MU
      Healthcare versus the State of Missouri. Health Scinece Research Day, University of Missouri-Columbia, MO.
      November 15, 2018.</li>
    <li>Lucy Sheahan, <strong>Henok G. Woldu, PhD</strong>, Tomoko Tanaka, MD. A Review of the Predictive Value of
      Admission
      Computerized Tomography (CT) in Traumatic Brain Injury Patients at University of Missouri Hospital. Health
      Science Research Day, University of Missouri-Columbia, MO. November 15, 2018.</li>
    <li>Courtney L. Monroe, <strong>Henok G. Woldu, PhD</strong>, N. Scott Litofsky, MD. Value of Routine Imagining and
      Clinical
      Surveillance of Patients with High Grade Glioma. Health Science Research Day, University of MissouriColumbia, MO.
      November 15, 2018.</li>
    <li>Spelts R, McAllister M, Tabb D, Baxley J, <strong>Woldu H</strong>, Bauer M, Lad P. Evaluation of Animal Bite
      Protocol in the Emergency Department. Southeastern Residence Conference (SERC), April 26-27, 2018, Athens, GA.
    </li>
    <li>Meng, L., Bergeron, C. D., Ory, M. G., Towne, S. D. Jr., Shen, Y., <strong>Woldu, H.</strong>, Interest of
      middle-aged and older
      adults with chronic conditions to participate in community-based health-related discussions/events. American
      Public Health Association Annual Conference, November 4-8, 2017, Atlanta, GA.</li>
    <li><strong>Woldu, H.</strong>, Martinez, L., Castellanos, M., Whalen, C., M Castellanos. Estimating the Optimal
      Induration Cut-Off
      Point from Tuberculin Skin Test through Mixture Modeling: An Analysis of Two High-Risk Populations from SubSaharan
      Africa. 48th Union World Conference on Lung Health, 11-14 October, 2017, Guadalajara, Mexico.</li>
    <li><strong>Woldu, H.</strong>, Ye, S., Heckman, T., and Handel. A., Applying Functional Data Analysis to Assess
      TeleInterpersonal
      Psychotherapy’s Efficacy to ReduceDepression. Presented at the Society for Epidemiologic
      Research 50th Annual Meeting, June 20-23, 2017, Seattle, WA.</li>
    <li><strong>Woldu, H.</strong> and Dobbin, K. Sample Size Estimation Methods for Evaluating the Clinical Utility of
      a
      Predictive Biomarker. ENAR 2017 Spring Meeting. March 12-15, 2017, Washington, DC.</li>

  </ul>
</div>
