<article>

  <div class="alert alert-secondary" role="alert">
    <h2>EDUCATION</h2>
    <p><strong>University of Georgia</strong> ,GA Ph.D. Biostatistics July 2018</p>
    <p><strong> University of Asmara </strong>Asmara, Eritrea B.S., Statistics & Diploma in Economics June 2006
    </p>
  </div>

  <div class="alert alert-secondary" role="alert">
    <h2>DISSERTATION</h2>
    <p><strong>Title:</strong> Bayesian Decision Theoretic Framework for Evaluating the Clinical Utility of
      Predictive Biomarkers and Sample Size Estimation Methods.</p>
    <p><strong> Objective: </strong> Develop Bayesian decision theoretic framework study design, novel estimation
      equations and algorithms for evaluating the clinical utility of predictive biomarkers and propose a sample
      size estimation method for determining the mean confidence interval width of the developed metrics.</p>

    <p><strong>Committee:</strong> Dr. Kevin K. Dobbin (Chair), Dr. Stephen L. Rathbun, Dr. Xiao Song, Dr. David
      M.Dejoy. </p>
  </div>

  <div class="alert alert-secondary" role="alert">
    <h2>EXPERIENCE</h2>

    <h4>Assistant Research Professor, School of Medicine, University of Missouri</h4>
    <p> Columbia, Missouri.</p>
    <h4>Department of Health Management and Informatics</h4>
    <p>Aug. 2018 – Present</p>
    <ul>
      <li>Advise medical researchers in the School of Medicine to:
        <ul>
          <li>refine their research aims to testable hypotheses.</li>
          <li>devise logistically and statistically optimal sampling plans </li>
          <li>estimate power and sample size to detect clinically meaningful effect sizes</li>
          <li>construct randomized schedules or other allocation plans as needed</li>
          <li>advise on appropriate data collection, management and perform the statistical
            analyses with great possible validity and assist in interpretation of the results
            and communicating the statistical findings. </li>
        </ul>
      </li>
      <li>Serve as Co-PI or Co-I on grant projects taking major leading on the study design,
        data collection and data analyses sections. </li>
      <li>Participate in manuscript writing and submission for publication.</li>
      <li>Help MD students on question related to statistics on their research projects.</li>
    </ul>

    <hr>
    <h5>Biostatistician Intern, SanFrancisco, California</h5>
    <p>Genentech June 2017 – Sept. 2017</p>
    <ul>
      <li>Developed a statistical method used for evaluating and comparing the clinical utility of predictive biomarkers
        used for the treatment of Asthma.</li>
      <li>Created a visualization tool used for evaluating predictive biomarker’s clinical utility.</li>
    </ul>

    <hr>
    <h5>Graduate Research & Teaching Assistant, Athens, Georgia</h5>
    <p>University of Georgia. Aug. 2013 - July 2018</p>
    <ul>
      <li>Graduate research assistant to Dr. Kevin K. Dobbin, working on NIH grant project to develop study design and
        analysis methods for evaluating reproducibility of predictive cancer biomarkers.</li>
      <li>Biostatistician consultant to Dr. Christopher Whalen on the COHSONET grant project aimed at studying the
        mechanisms of TB transmission in a Sub Saharan African setting.</li>
      <li>
        As primary biostatistician of Dr. David M. Dejoy’s Workplace Health Group Lab, managed data, performed data
        analysis, co-authored a manuscript writing the statistical analysis and result sections.
      </li>
      <li>
        Served as lead biostatistician in the Dr. Timothy G. Heckaman’s NIH grant project, aimed at assessing the
        efficacy of Telephone Interpersonal Psychotherapy Intervention in reducing depression among HIV-infected
        rural persons (RCT study). Authored one manuscript applying a novel Function Data Analysis (FDA) methods
        and co-authored another with full responsibility for analysis plan and writing of the results.
      </li>
      <!-- <li>
        Consult with multidisciplinary researchers from Epidemiology, Health Promotion and Global Health.
        Develop data analysis plan and determine the appropriate statistical methods for analysis.
      </li>
      <li>
        Independently handle the lab and guide graduate students for the courses Biostat 7010 and Biostat
      </li> -->
    </ul>
    <hr>
    <h5>Statistician, Khartoum, Sudan</h5>
    <p><strong>Private Contractor Jan. 2012 - May 2013</strong></p>
    <ul>
      <li>Biostatistician Consultant. Designed a questionnaire, managed data collection, wrote and performed the
        analysis plan of a malaria project and trained two people on using SPSS.</li>
    </ul>

    <h5>Research and Teaching Assistant, Asmara, Eritrea </h5>
    <p><strong> Asmara College of Health Science. July 2006 - Dec 2011 </strong> </p>
    <ul>
      <li>
        Statistician consultant to the Dean of the College, Dr. Azieb Okbagebriel. Managed the WHO funded project, to
        study the prevalence of Schistosomiasis in the Southern Region of Eritrea. Questionnaire design, coordinate data
        collection and entry, data analysis and wrote the report.
      </li>
      <li>
        Collaborated in 7+ projects and helped undergraduate students with data analysis and interpretation results for
        their final year projects.
      </li>
      <li>
        Taught and trained undergraduate students in the courses, “Introduction to Design of Experiment”, “Introduction
        to Biostatistics” and “Calculus II”.
      </li>
    </ul>
  </div>

  <div class="alert alert-secondary" role="alert">
    <h2>HONORS & AWARDS</h2>
    <ul>
      <li>International Congress of Behavioral Medicine Meritorious Poster Award, Nov 2018.</li>
      <li>Saint Jude Future Fellow Research Conference (FFRC) award, 2017.</li>
      <li>Graduated with “Great Distinction”, University of Asmara, Asmara, Eritrea, 2007</li>
      <li>1st rank in four consecutive years, Graduating Class of 2006, Department of Statistics, University
        of Asmara, Eritrea.</li>
      <!-- <li>Outstanding Teaching Award, Asmara College of Health Sciences, Asmara, Eritrea, 2008.</li> -->
    </ul>
  </div>
</article>