<div class=" alert alert-secondary" role="alert">
  <div class="container">
    <img class="pic" src='../../assets/henok.jpg' />
    <p class="para">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quae cum praeponunt, ut sit aliqua rerum selectio,
      naturam
      videntur sequi; Quid ergo hoc loco intellegit honestum? Sed venio ad inconstantiae crimen, ne saepius dicas me
      aberrare; Id est enim, de quo quaerimus. Duo Reges: constructio interrete. Tu enim ista lenius, hic Stoicorum more
      nos vexat.

    </p>
    <p class="para">
      Hoc dixerit potius Ennius: Nimium boni est, cui nihil est mali. Quo studio Aristophanem putamus aetatem in
      litteris
      duxisse? Nihilo beatiorem esse Metellum quam Regulum. Servari enim iustitia nisi a forti viro, nisi a sapiente non
      potest. Beatus autem esse in maximarum rerum timore nemo potest. Ita multo sanguine profuso in laetitia et in
      victoria est mortuus. Honesta oratio, Socratica, Platonis etiam. Quo invento omnis ab eo quasi capite de summo
      bonoet malo disputatio ducitur.
    </p>
    <p> class="para"
      Quae diligentissime contra Aristonem dicuntur a Chryippo. Utrum igitur tibi litteram videor an totas paginas
      commovere? Cum autem in quo sapienter dicimus, id a primo rectissime dicitur. Iam in altera philosophiae parte. Et
      tamen ego a philosopho, si afferat eloquentiam, non asperner, si non habeat, non admodum flagitem. Sed erat
      aequius Triarium aliquid de dissensione nostra iudicare.
    </p>
  </div>
  <div class="allnet">
    <a class="net btn btn-secondary" href="https://www.facebook.com/Henok.wold?epa=SEARCH_BOX" target="blank"><i
        class="fab fa-facebook"></i> </a>
    <a class="net btn btn-secondary" href=""><i class="fab fa-twitter"></i> </a>
    <a class="net btn btn-secondary" href="https://www.linkedin.com/in/henokgwoldu/"><i class="fab fa-linkedin"></i>
    </a>
    <a class="net btn btn-secondary" href=""><i class="fab fas fa-envelope"></i> </a>
  </div>
</div>